@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #ef5d24e9;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}

.ticket_mask {
  -webkit-clip-path: polygon(0% 100%, 11.11% 100%, 11.11% 93%, 22.22% 93%, 22.22% 100%, 33.33% 100%, 33.33% 93%, 44.44% 93%, 44.44% 100%, 55.55% 100%, 55.55% 93%, 66.66% 93%, 66.66% 100%, 77.77% 100%, 77.77% 93%, 88.88% 93%, 88.88% 100%, 100% 100%, 100% 20%, 80% 0%, 100% 0%, 0% 0%);
  clip-path: polygon(0% 100%, 11.11% 100%, 11.11% 93%, 22.22% 93%, 22.22% 100%, 33.33% 100%, 33.33% 93%, 44.44% 93%, 44.44% 100%, 55.55% 100%, 55.55% 93%, 66.66% 93%, 66.66% 100%, 77.77% 100%, 77.77% 93%, 88.88% 93%, 88.88% 100%, 100% 100%, 100% 20%, 80% 0%, 100% 0%, 0% 0%);
}